@page "/note"
@inject BancaDati db 
@using System.Threading

<h1>Note</h1>

<CmpPulsantieria onInserisci="Aggiungi" />


@foreach(Nota singola in db.note)
{
    <CmpNota nota="singola" onElimina="Cancella"/>
}

@code {
    private Nota nuovaNota = new Nota();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        // all'inizializzazione di pagina creo un timer che lancerà
        // una funzione ogni 1000ms
        var timer = new Timer(new TimerCallback(e =>
        {
            InvokeAsync(() =>
            {
                // che a sua volta forzerà blazor a pensare che qualcosa è cambiato
                StateHasChanged();
            });
        }), null, 1000, 1000);
    }

    public void Aggiungi(Nota daInserire)
    {
        db.note.Add(daInserire);
        db.SaveChanges();
    }

    public void Cancella(Nota daCancellare)
    {
        db.note.Remove(daCancellare);
        db.SaveChanges();
    }

}
