@page "/note"
@inject BancaDati db 

<h1>Note</h1>

<CmpPulsantieria onInserisci="Aggiungi" />


@foreach(Nota singola in db.note)
{
    <CmpNota nota="singola" onElimina="Cancella"/>
}

@code {
    public Nota nuovaNota = new Nota();

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    public void Aggiungi(Nota daInserire)
    {
        db.note.Add(daInserire);
        db.SaveChanges();
     }

    public void Cancella(Nota daCancellare)
    {
        db.note.Remove(daCancellare);
        db.SaveChanges();
    }

}
